<h1>chess-app - index.html.erb</h1>

<html>
<body>
  <div class="chessboard">
    <!-- 1 -->
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <!-- 2-->
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <!-- 3 -->
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <!-- 4-->
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <!-- 5 -->
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <!-- 6 -->
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <!-- 7 -->
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <!-- 8 -->
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
    <div class="dark"></div>
    <div class="light"></div>
  </div>
</body>
</html>
