
<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="chessboard" data-pieces-url="<%= game_pieces_path(@game) %>">
    <% (0..7).each do |row| %>
      <% (0..7).each do |col| %>
        <div class="square <%= (row + col) % 2 == 0 ? "light" : "dark" %>"
          id="<%= row.to_s + col.to_s %>"></div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  const whitePieceHtml = {
    King: '&#9812;',
    Queen: '&#9813;',
    Rook: '&#9814;',
    Bishop: '&#9815;',
    Knight: '&#9816;',
    Pawn: '&#9817;'
  };
  const blackPieceHtml = {
    King: '&#9818;',
    Queen: '&#9819;',
    Rook: '&#9820;',
    Bishop: '&#9821;',
    Knight: '&#9822;',
    Pawn: '&#9823;'
  };

  $(function() {

    setupBoard();

    function setupBoard() {
      $('.piece').remove();
      var piecesURL = $('.chessboard').data('pieces-url');

      $.get(piecesURL).success(function(pieces) {
        pieces.forEach(function(piece, i){
          if (piece.row > -1 && piece.col > -1) {
            placePiece(piece);
          }
        });
      });

      function placePiece(piece) {
        var squareId = String(piece.row) + String(piece.col);
        var pieceHtml = "";
        if (piece.is_black) {
          pieceHtml = blackPieceHtml[piece.type];
        } else {
          pieceHtml = whitePieceHtml[piece.type];
        }

        var piece = $.parseHTML(
          '<div class="piece" data-id='+ piece.id +'>' + pieceHtml + '</div>');

        $('.square#'+squareId).append(piece);
        $('.piece').draggable();
      }
    }

    $(".square").droppable({
      drop: function(event, ui) {
        var coord = $(this).attr('id').split('');
        var $piece = $(ui.draggable);
        movePiece($piece, coord);
      }
    });

    // race condition without setTimeout():
    // The get request may complete before the post request's back-end logic is
    //   completely executed.
    // In the worst case, the get request will retrieve pieces before they are
    //   updated by Piece#move_to!.
    function movePiece(piece, coord) {
      var piecesURL = $('.chessboard').data('pieces-url');
      var newRow = coord[0];
      var newCol = coord[1];

      $.post(piecesURL + "/" + piece.data("id"), {
        _method: "PUT",
        piece: { row: newRow, col: newCol }
      }).success(setTimeout(setupBoard, 10));
    }
  });
</script>
