<div class="container">
  <h1>My Profile</h1>
  <p>Screen Name: <%= current_user.screen_name %></p>
  <p>Member Since: <%= current_user.created_at.strftime("%m/%d/%Y") %></p>
  <p>Games Played: <%= Participation.where(user_id: current_user.id).count %></p>
</div>
