@import "bootstrap";

.chessboard {
  width: 800px;
  height: 800px;
  margin: 20px;
  border: 25px solid #8B4513;
}
.dark {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #A97D5D;
}
.light {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #F7DCB4;
}
